<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1> Login </h1>
        <form class="login" action="/login" method="POST">
            <label for="username" >Usuário</label><input class="message_input" type="text" id="username" name="username"><br>
            <label for="password" >Senha</label><input class="message_input" type="password" id="password" name="password"><br>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>