<html>
  <head>
    <title>Notas</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>
    <main>
      <h1>Notas de {{user}}</h1>

      <div class="four">
        <form action="/messages/add" method="post">
          <input class="message_input" type="text" name="message" id="" cols="30" rows="10"></input>
          <button type="submit">Submit</button>
        </form>
      </div>
      
      <div class="messages"> 
        {% for mess in messages %}
          <p class="message">{{mess}}</p>
        {% endfor %}
      </div>

    </main>
  </body>
</html>
